_format_version: '2.1'
_transform: true

services:
  - name: auth-v1
    url: http://supabase-auth:9999/
    routes:
      - name: auth
        strip_path: true
        paths:
          - /auth/v1/
    plugins:
      - name: cors

  - name: rest-v1
    url: http://supabase-rest:3000/
    routes:
      - name: rest
        strip_path: true
        paths:
          - /rest/v1/
    plugins:
      - name: cors

  - name: realtime-v1
    url: http://supabase-realtime:4000/socket
    routes:
      - name: realtime
        strip_path: true
        paths:
          - /realtime/v1/
    plugins:
      - name: cors

  - name: storage-v1
    url: http://supabase-storage:5000/
    routes:
      - name: storage
        strip_path: true
        paths:
          - /storage/v1/
    plugins:
      - name: cors

